* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    min-width: 100%;
    align-items: center;
}

header img {
    height: 5dvh;
    min-height: fit-content;
    flex: 0 1 auto;
    width: 10%;
    max-width: 10%;
}

header h1 {
    color: #C2000B;
    font-variant-caps: small-caps;
    letter-spacing: 0.05em;
}

header nav {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    margin: 0 1rem 0 auto;

    font-variant-caps: small-caps;
    letter-spacing: 0.05em;

    justify-content: space-around;
    align-items: center;
}

header nav p {
    font-size: 1.25rem;
}

.display {
    display: flex;
    /* padding: 1rem; */
    width: 100%;
    min-width: 100%;
    justify-content: center;
    background-color:#C2000B;
    padding: 2rem 0rem;
}

.display-sidebar {
    padding: 1rem;
    background-color: #C2000B;
    color: white;
    width: 35dvw;
}

.display img {
    padding: 1rem;
    background-color: #C2000B;

    height: 20rem;
    max-width: 35dvw;
}

.display-sidebar p {
    margin-top: 1rem;
}

.three-column {
    display: flex;
    width: 100%;
    padding: 1rem 4rem;
    gap: 1rem;
    justify-content: space-around;
    align-items: flex-start;

    height: fit-content;
    min-height: fit-content;

    min-width: 100%;
    
}

.column {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
    align-items: flex-start;
    justify-content: center;

    flex: 1 1 20dvw;

    height: fit-content;
    min-height: fit-content;

    width: 25dvw;
    min-width: 20dvw;
    max-width: 25dvw;
}

.column p {
    margin-top: 1rem;
}

.separator {
    display: flex;

    width: 90dvw;
    min-width: 90dvw;
    max-width: 90dvw;

    height: 5rem;
    max-height: 5rem;
    min-height: 5rem;

    padding: 1rem;
    margin: 2rem auto 0rem;

    text-align: center;
    align-items: center;
    justify-content: center;

    border-style: solid;
    border-color: black;
    border-width: 0.25rem 0rem;
}

.quote {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 100%;

    height: fit-content;
    min-height: fit-content;

    padding: 4rem 16rem;
    margin: 2rem 0rem 0rem;

    text-align: left;
    align-items: center;
    justify-content: left;

    background-color: lightgray;
}

.quote blockquote {
    font-size: 1.5rem;
    font-style: italic;
    margin-top: 1rem;
}

.quote p {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
}

.sign-up {
    display: flex;
    align-items: center;

    margin: 2rem auto;
}

.email-input {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 75%;
    min-width: 75%;

    min-height: fit-content;
    height: fit-content;

    background-color:#C2000B;
    color: white;

    margin: 2rem auto;

    border-style: solid;
    border-color:#C2000B;
    border-radius: 1rem;
}

.email-message {
    display: flex;
    flex-direction: column;

    justify-content: left;
    align-items: left;

    padding: 1rem;
    flex: 1 1 37.5%;
}

.input-box {
    display: flex;
    flex-direction: row;

    padding: 1rem;
    flex: 1 1 37.5%;
}

.input-box button {
    margin: 0rem 0rem 0rem auto;

    height: 2rem;
    width: 4rem;
    font-family: inherit;
    text-align: center;
    background-color: white;
    border-radius: 1rem;
    border-color: white;
    transition: 0.4s;
}

.input-box button:hover {
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 0.5rem;
}

.input-box input {
    margin: 0rem 1rem 0rem auto;

    height: 2rem;
    width: 8rem;

    flex: 1 0 8rem;

    font-family: inherit;
    background-color: white;
}

.email-message p {
    margin-top: 1rem;
}

footer {
    width: 100%;
    background-color:#C2000B;
    color: white;

    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 2rem;

    display: flex;
}